body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 25%;
  margin: 1%;
}

tr {
  border: solid 0.5px;
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

td.attribute {
  font-weight: bold;
}

td.value {
  text-align: right;
}

div.hueSample {
  width: 15px;
  height: 15px;
  display: inline-block;
}

p {
  margin: 1px;
}